<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <title>LOGIN</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="top">
                    <img src="../static/img/index.png" height="110px" width="110px">ALIEN ERROR
                </div>
            </header>
            <h1>ERROR 404</h1>
            <h5>Page not Found, the requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</h5>
            <a href='/' class="btn btn-success">ComeBack</a>

        </div>
    </body>
</html>
